@model Lab4.Models.MidTerm.TrueFalseQuestion
@{
    ViewBag.Title = "TrueFalseQuestion";
}

<h2>@Model.Question</h2>
<select name="Answer" id="uxTFAnswer">
    <option value="True">True</option>
    <option value="False">False</option>
</select>

