@model Lab4.Models.MidTerm.TrueFalseQuestion
@{
    ViewBag.Title = "TrueFalseQuestion";
}

<h2>@Html.Raw(Model.Question)</h2>
@Html.HiddenFor(m => Model.ID)
@Html.DropDownListFor(m => Model.Answer, new List<SelectListItem> {
        new SelectListItem { Text = "True", Selected = true, Value = "True" },
        new SelectListItem { Text = "False", Selected = false, Value = "False" }
    })
@Html.ValidationMessageFor(m => Model.Answer)