@model IEnumerable<Lab4.Code.DataObjects.Category>
@{
    ViewBag.Title = "Category Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category Index</h2>

@{
    var dropdown = new SelectList(Model);
    using (Html.BeginForm("Delete", "Category", FormMethod.Post))
    {
        @Html.DropDownList("Categories", dropdown);

        <input type="submit" value="Delete" class="btn btn-default" />
    }

    using (Html.BeginForm("Edit", "Category", FormMethod.Post))
    {
        @Html.DropDownList("Categories", dropdown);

        <input type="submit" value="Edit" class="btn btn-default" />
    }

    using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("Category")
        <input type="submit" value="Add Category" class="btn btn-success" />
    }
}