
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
    
}

@section header{<h1>About the Hackerman</h1>}
Suckerity was born out of the desire to create an easier way of buying security tools. After many years of struggling to find the best solutions to different security 
problems on a multitude of platforms, in 2016 Suckerity's founder Eliza decided to create this shop to assist in fulfilling everyone's security needs. <br/>

Based in Portland Oregon, Sukerity continues to find security tools for the public and sells them at great rates.
@section footer { &copy Eliza Henderson forever }
