@using Lab4.Models.Blog
@model Lab4.Models.Blog.BlogPostModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit a Blog Post";
}
<h1>Edit a Blog Post</h1>
<br />
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <button type="submit">Submit</button>
}