@model Tuple<List<Lab4.Code.DataObjects.BlogPost>, List<Lab4.Code.DataObjects.Inventory>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";

}
@section header { <h1>Home</h1> }
@section footer { &copy Eliza Henderson forever }

<h2>Newest Blog Posts</h2>
@Html.Partial("~/Views/Shared/_BlogPostLinkList.cshtml", Model.Item1)

<h2>Some Inventory</h2>
@Html.Partial("~/Views/Shared/_InventoryList.cshtml", Model.Item2)
<br /><br /><br /><br /><br />
